bottle==0.12.10
click==5.1
colorama==0.3.7
cycler==0.10.0
decorator==4.0.10
jq==0.1.6
lockfile==0.12.2
matplotlib==1.5.3
networkx==1.11
numpy==1.11.1
Pillow==3.3.1
platformio==3.1.0
pyparsing==2.1.9
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.1
scipy==0.18.1
semantic-version==2.6.0
six==1.10.0
